@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="">Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University!</h2>
        <p>
            Contoso University seeks to create a wholesome learning environment in which
            students can strengthen their commitment to their faith and receive
            a quality education that prepares them for leadership in the home,
            the community, and the workplace.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Build it from scratch, or pick up where you left off!</h2>
        <p>
            Coming in from High school, restarting your college education, or making a career change,... 
            no matter where your coming from, we hope we can be the ones to show you where you can go.
        </p>

        <p>
            <a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Meet with a counselor &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Register now!</h2>
        <p>
            Click below to find the right program for you.
        </p>

        <p>
            <a class="btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Register now &raquo;</a>
        </p>
    </div>
    <div class="jumbotron2">
        <h1 class="come-join">Come and join us!</h1>
    </div>
</div>